<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<link rel="stylesheet" href="css/styles.css">
<body>
    <div class="main-content">
    {{>header}}
    {{!-- <h1>About Page</h1> --}}
    {{!-- <h1>{{title}}</h1> --}}
     <img class="img1"  src="./img/robot.png" alt="Robot Image">
    </div>
    {{!-- <p>Created By {{name}}</p> --}}
    {{>footer}}
</body>
</html>